.color1 {color: #180a0c;}
.color2 {color: #563743;}
.color3 {color: #557e9e;}
.color4 {color: #93bec2;}
.color5 {color: #f9f9f9;}


.color1 {color: #d983c2;}
.color2 {color: #dc9993;}
.color3 {color: #d9c583;}
.color4 {color: #d9e5ba;}
.color5 {color: #a9e2e2;}


.color1 {color: #06060f;}
.color2 {color: #212e48;}
.color3 {color: #586391;}
.color4 {color: #9da1e0;}
.color5 {color: #dfd1ea;}


.dark1 {color: rgb(52, 42, 33);}
.dark2 {color: rgb(70, 42, 61);}
.dark3 {color: rgb(200, 198, 215);}

.light1 {color: rgba(247, 169, 168, 1);}
.light2 {color: rgba(97, 63, 117, 1);}
