body {
  margin: 0;
  font-family: Arial,sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5em;
  background-color: #fff;
  color: #333;

}
h1, h2, h3 {
  font-weight: bold;
  margin:0;
  line-height: 1.2em;
}
a{
  color: inherit;
  text-decoration: none;
}
ul,p{
  list-style: none;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
  display: block;
}
/* #root{ */
  /* background-image: url('../public/children-s-background.png');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  background-attachment:fixed; */

  /* мілкий горошок */
 /*  background-size: 21.6px 21.6px;
  background-repeat: repeat;
  background-position: 10px 1px, 20.4px 11.4px;
  background-color: white;
  background-image: radial-gradient(circle, rgba(247, 169, 168, 0.4) 3px, transparent 3px), radial-gradient(circle, rgba(247, 169, 168, 0.4) 3px, transparent 3px);
 */
  /* крупний горошок */

  /* background-size: 86.4px 86.4px;
  background-repeat: repeat;
  background-position: 43px -14px, 0px 29px;
  background-color: white;
  background-image: radial-gradient(circle, rgba(247, 169, 168, 0.4) 11px, transparent 12px), radial-gradient(circle, rgba(247, 169, 168, 0.4) 11px, transparent 12px);
 */
/* } */

.isHidden {
  display: none;
}

.isVisible {
  display: block;
}